
.titulo{
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn.btn-success.crear {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 150px;
    height: 40px;
}

.btn.btn-primary.add {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    float: right;
}

.btn.btn-success.back {
    margin-top: 30px;
    margin-right: 10px;
    width: 150px;
    height: 40px;
    float: right;
}

.btn.btn-success i, .btn.btn-primary i {
    margin-right: 10px;
}

.float-end.crear {
    margin-bottom: 40px;
}

.offset-md-3.col-sm-6 {
    margin-top: 10px;
}

.far.fa-edit {
    color: white;
}
